.feature-item{
    position: relative;
    padding-bottom: 2.5rem;
    max-width: 17rem;

    @mixin atXSmall{
        max-width: 20rem;
    }
    @mixin atSmall{
        max-width: 30rem;
        padding-left: 94px;
    }

    &__icon{
        display: block;
        margin: 0 auto;
        @mixin atSmall{
            position: absolute;
            left: 0;
        }
    }
    &__title{
        margin-top: .7em;
        font-weight: 300;
        margin-bottom: 0.8rem;
        text-align: center;

        @mixin atSmall{
            text-align: left;
            font-size: 2.475rem;
            margin-top: 1em;
        }
    }
}
