.row{

    &--gutters{
        padding-right: -65px;
        &-large{
            margin-right: -100px;
        }
    }
    &__b-margin-to-med{
        margin-bottom: 1rem;
    }


    @mixin atMedium{

        &__b-margin-to-med{
            margin-bottom: 0;
        }

        &--gutters > div{
            padding-right: 65px;
        }
        &--gutters-large > div{
            padding-right: 100px;
        }
        &__medium-4{
            float: left;
            width: 33.3%;

            &--larger{
                width: 37%;
            }
        }
        &__medium-8{
            float: right;
            width: 66.66%;

            &--smaller{
                width: 63%;
            }
        }
        &__medium-6{
            float: left;
            width: 50%;
        }
    }
}
