.site-footer{
    background-color: $mainBlue;
    color: white;
    padding: 1.625rem 0 1.375rem;
    text-align: center;

    p{
        margin: 0;
    }

    &__text{
        display: block;
        margin-bottom: 1rem;
        font-weight: 200;

        @mixin atMedium{
            display: inline;
            margin: 0 1.4rem 0 0
        }

    }
}
