.wrapper{
    padding: 0 18px 0 18px;
    max-width: 1236px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;

    &--medium{
        max-width: 976px;
    }

    .wrapper{
        padding-left: 0;
        padding-right: 0;
    }

    &--b-margin{

        margin-bottom: 1rem;

        @mixin atSmall{
            margin-bottom: 3.875rem;
        }

    }
    &--no-padding-small{
        padding-left: 0;
        padding-right: 0;

        @mixin atSmall{
            padding: 0 18px 0 18px;
        }
    }
    &--no-padding-large{
        padding-left: 0;
        padding-right: 0;

        @mixin atLarge{
            padding: 0 18px 0 18px;
        }
    }
}
